body {
    background-image: url("https://picsum.photos/id/82/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#header, .nav a, #hero, #cta {
    color: white;
}

#header {
    background-color: #62466b;
    height: 60px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#hero {
    font-size: 22px;
}

#hero h1 {
    font-size: 80px;
}

#cta {
    background-color: #f84aa7;
}

#cta:hover {
    background-color: white;
    color: #f84aa7;
}

#services {
    background-color: #f8e5ff;
}

.card {
    background-color: white;
    width:fit-content;
}